<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/meta')%>
  </head>
  <body>
    <header>
      <%- include('../partials/nav-me')%>

      <div class="carousel-cont">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <%slidesMe.forEach(slide => {%>
            <div class="<%= slide.class %>">
              <img src="<%= slide.img %>" class="d-block w-100 carousel-img" alt="<%= slide.imgAlt %>">
            </div>
            <%})%>
          </div>
          <%- include('../partials/carouselBtn')%>
        </div>
      </div>
    </header>
    <main>
      <section class="sec-ubicacion">
       <%- include('../partials/ubicacion')%>
      </section>

      <section class="sec-servicios">
        <div class="container">
          <h2 class="sec-title">Algunos productos</h2>
            <div class="row justify-content-center">
              <%categories.forEach(category => {%>
              <div class="servicio2 col-xs-10 col-sm-10 col-md-5 col-lg-2">
                      <h4 class="serv-title2"> <a href="/materiales/productos"><%= category.name %></a></h4>
              </div>
              <%})%> 
          </div>
        </div>
      </section>
      <section class="sec-cards">
        <div class="container">
        <h2 class="sec-title">Linea San Justo iluminación</h2>
          <div class="cards-container">
            <div class="row justify-content-center">
              <%JSONBody.forEach(product => {%>
              <div class="card mt-3 col-xs-10 col-sm-10 col-md-6 col-lg-3">
                <img src="<%= product.img %>" class="card-img-top" alt="<%= product.description %>">
                <div class="card-body">
                  <h5 class="card-title"><%= product.name %></h5>
                  <p class="card-text"><%= product.description %></p>
                  <a href="#" class="btn btn-primary">VER MAS</a>
                </div>
              </div>
              <%})%>
            </div>
          </div>
      </div>

    </section>
    </main>

     <%- include('../partials/footer-me')%>
  </body>
</html>
